#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

:root{
  --secondary-color: rgb(65, 1, 87);
}

body {
  background: rgb(255, 255, 255);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 60%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  color: white;
  font-size: 20px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.uno {
    background-image: url('https://i.pinimg.com/564x/6a/29/de/6a29dea6c5713b715b047c767bc36f54.jpg');
    background-size: contain;
    background-position: center;
}

.dos {
    background-image: url('https://i.pinimg.com/564x/ca/ad/da/caadda4b43c99ebc55d32b4692efbd9a.jpg');
    background-size: cover;
    background-position: center;
}

.tres {
    background-image: url('https://i.pinimg.com/564x/be/5f/c3/be5fc3f39231dba5f6fd9735b025111a.jpg');
    background-size: cover;
    background-position: center;
}

.cuatro {
    background-image: url('https://i.pinimg.com/564x/8d/b1/1d/8db11d41e2263c45937bf4679d6538af.jpg');
    background-size: cover;
    background-position: center;
}
