body {
    margin: 0;
    padding: 0;
}

.button {
    outline: 0;
    border: 0;
    background-color: black;
    color: white; 
    font-size: 18px;
}

a:link{
    text-decoration: none;
}

.container {
    background-color: black;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.img {
    width: 200;
    height: 200;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 500px;
}