body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 500px;
    background-color: white;
}

.button {
    width: 400px;
    height: 40px;
    outline: 0;
    border: 0;
    background-color: black;
    color: white;
}

.img {
    width: 700px;
    height: 400px;
}

.input {
    outline: 1px;
    border: 2px solid rgb(51, 62, 26);
    border-radius: 10px;
    width: 400px;
    height: 40px;
    margin: 10px;
    text-align: center;
}

.formulario {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    font-size: 30px;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}